<h2>Add a Pet to this Application</h2>
<%= form_with url: "/applications/#{@application.id}", method: :get, local: true do |f| %>
  <%= f.label :search, "Search by pet name:" %>
  <%= f.text_field :search %>
  <%= f.submit "Search" %>
<% end %>

<br>

<% if @searched_pets.any? == true %>
  <% @searched_pets.each do |pet| %>
    <section id= "searched_pets-<%= pet.id %>" >
      <%= pet.name %>
      <%= button_to "Adopt this Pet", "/applications/#{@application.id}?pet_id=#{pet.id}", method: :patch%>
      <% end %>
  </section>
<% end %>


<h1><%= @application.name %></h1>
<h3>Address: <%= @application.address %></h3>
<h3>City: <%= @application.city %></h3>
<h3>State: <%= @application.state %></h3>
<h3>Zip Code: <%= @application.zip_code %></h3>
<h3>Description: <%= @application.description %></h3>
<h3>Pet(s):</h3>
<% @application.pets.each do |pet| %>
  <%= link_to "#{pet.name}", "/pets/#{pet.id}" %>
<% end %>
<h3>Application Status: <%= @application.status %></h3>

<% if @application.pets != [] %>
  <%= button_to "Submit Application", "/applications/#{@application.id}?status=Pending", method: :patch%>
  <% else @application.pets == []%>
<% end %>
